.cs-agnt-bx {
	text-align: center;
	padding: 3px;
	border-bottom: 1px solid #cec6c6;
	font-weight: bold;
}
.cs-agent-image img {
	height: 200px;
}
.cs-agent-image {
	text-align: center;
}

.feature_module_status_table {
	width: 65%;
	border: 1px solid #d6d8db;
	padding: 10px;
	background-color: white;
}